body {
scroll-behavior: smooth;
}
/*NAVBAR STYLE*/
.navbar {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.navbar-brand {
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.navbar .btn {
  background: transparent;
  border: none;
  color: #000;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding: 6px 4px;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar .btn:hover {
  color: #0077ff;
  border-bottom: 2px solid #0077ff;
  transform: none; /* supaya tidak membesar */
}

#awal {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/stir.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 75px; ;
}

h1{
color: #fff;
text-align: left;
font-weight: 20%;
margin-left: 10%;
font-style: bold;
}

p {
  color: #fff;
  size: 10%;
  margin-left: 10%;
}
