/* =========================
   GLOBAL STYLE
========================= */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

p { color: #000; }

/* =========================
   NAVBAR STYLE
========================= */
.navbar {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.navbar-brand {
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.navbar .btn {
  background-color: #C3F0FD;
  color: #000;
  border: 1px solid #6c757d;
  border-radius: 20px;
  padding: 6px 14px;
  transition: all 0.3s ease;
}

.navbar .btn:hover {
  background-color: #23A1C4;
  color: #fff;
  transform: scale(1.05);
}

/* =========================
   SECTION BACKGROUND (SLIDE)
========================= */
#awal, #tentang, #paket, #kontak {
  background: url("../images/bg1.jpeg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px; /* biar tidak ketutup navbar */
}

/* =========================
   KOTAK BLUR PER SECTION
========================= */
.section-box {
  width: 800px;
  min-height: 400px;
  background: rgba(228, 224, 224, 0.683);
  backdrop-filter: blur(14px);
  border-radius: 22px;
  padding: 40px;
  text-align: center;
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2s both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2s both;
}

.section-box h1,
.section-box h3 {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  font-size: 2.4rem;
  font-weight: 700;
  color: black;
}

.section-box p {
  font-size: 1.2rem;
  color: bla;
  line-height: 1.6;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* =========================
   PAKET SECTION CONTENT
========================= */
.paket-card {
  background-color: #C0E3ED;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.18);
  transition: 0.3s;
}

.paket-card:hover { transform: translateY(-6px); }

.paket-btn {
  background-color: white;
  border: 2px solid #34b4e6;
  border-radius: 12px;
  padding: 10px;
  font-weight: 500;
  color: #333;
  transition: 0.3s;
}

.paket-btn:hover {
  background-color: #34b4e6;
  color: white;
}

/* =========================
   Lihat Paket Lainnya
========================= */
.opsi-lain-label {
  display: inline-block;
  background-color: #34b4e6;
  color: white;
  border-radius: 20px;
  padding: 8px 30px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 25px;
  transition: 0.3s;
}

.opsi-lain-label:hover { background-color: #1f95c0; }

#lihat:checked ~ .paket-lain { display: block; }

.paket-lain {
  display: none;
  animation: fadeIn 0.5s ease;
}


/* =========================
   ANIMASI
========================= */

/* ----------------------------------------------
 * Generated by Animista on 2025-11-6 9:9:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-6 9:26:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-6 9:29:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

